<ion-view view-title="问题反馈">
    <ion-content>
        <form ng-submit="save()" novalidate>
            <br />
            <label class="item item-input">
                <span class="input-label">标题</span>
                <input type="text" placeholder="标题" ng-model="bug.title" required>
            </label>
            <label class="item item-input">
                <span class="input-label">描述</span>
                <textarea rows="8" placeholder="请详细说明您遇到的问题" ng-model="bug.desc" required></textarea>
            </label>
            <div class="padding">
                <button class="button button-block button-balanced" type="submit">提 交</button>
            </div>
        </form>
        <span class="help-data" >&emsp;&emsp;由于产品初次上线，可能会存在较多的问题。造成您的不便，特此道歉.<br />
							  	&emsp;&emsp;如果问题比较严重，您可以拨打手机：13071281562 （梁工）直接进行反馈。感谢您的帮助！

		</span>
    </ion-content>
</ion-view>
