<ion-view view-title="用户关联">
    <ion-content>
        <form ng-submit="save()" novalidate>
            <br />
            <label class="item item-input item-select">
                <div class="input-label">
                    关联学生
                </div>
                <select ng-options="student.stu_id as student.stu_name for student in students" ng-model="card.studentId"></select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    关联家长
                </div>
                <select ng-options="parent.user_id as parent.username for parent in parents" ng-model="card.parentId"></select>
            </label>
            <div class="padding">
                <button class="button button-block button-balanced" type="submit">确 定</button>
            </div>
        </form>
    </ion-content>
</ion-view>
