<ion-view view-title="卡">
    <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-android-add" style="display:{{isPrimary?'inline-block':'none'}}" href="#/tab/setting/create-card"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="card in cards">
                <div class="list card">
                    <div class="item">
                        <h2>{{card.card}}</h2>
                        <p>{{card.kind | kind}}</p>
                    </div>

                    <div class="item item-body">
                        <p>状态：{{card.enabled | status}}</p>
                        <p>使用情况：{{card.used | use}}</p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left">
                        <a class="tab-item" ng-click="changeStatus(card)" style='display:{{isPrimary ? "inline-block":"none"}}'>
                            <i class="icon {{card.enabled == 0 ? 'ion-ios-checkmark':'ion-ios-close'}}"></i>
                            {{card.enabled == 0 ? "启用":"禁用"}}
                        </a>
                        <a class="tab-item" href="#/tab/setting/card/{{card.card}}">
                            <i class="icon ion-person-stalker"></i>
                            用户信息
                        </a>
                        <a class="tab-item" href="#/tab/setting/card-push/{{card.card}}">
                            <i class="icon ion-ios-star"></i>
                            推送关系
                        </a>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
