<ion-view view-title="修改密码">
    <ion-content class="padding">
        <form novalidate>
            <br />
            <div style="text-align:center">
                <img src="img/logo.png" />
                <h4>小叮当 报平安</h4>
            </div>
            <br />
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">手机号</span>
                    <input type="tel" placeholder="本机手机号" ng-model="register.phone" required maxlength="11">
                </label>

                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" placeholder="密码" ng-model="register.password" required maxlength="16">
                </label>
            </div>
            <br />
            <button ng-click="changepwdsubmit()" class="button button-block button-balanced">下一步</button>
        </form>
         <span class="left-data" >注意事项：<br />
								1、首先在第一个框中填入您的手机号，您输入的号码必须是您本机号码，才能通过验证修改密码;<br />
								2、在密码框中直接填入您新的密码即可.
		</span>        
    </ion-content>
</ion-view>


