<ion-view view-title="添加学生">
    <ion-content>
        <br />
        <label class="item item-input">
            <span class="input-label">姓名</span>
            <input type="text" placeholder="姓名" ng-model="student.stu_name">
        </label>

        <label class="item item-input item-select">
            <div class="input-label">
                性别
            </div>
            <select ng-model="student.gender">
                <option value="0" selected>男</option>
                <option value="1">女</option>
            </select>
        </label>

        <label class="item item-input">
            <span class="input-label">生日</span>
            <input type="date" placeholder="生日" ng-model="student.birthday">
        </label>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="save(student)">保 存</button>
        </div>
    </ion-content>
</ion-view>
