<ion-view view-title="添加副家长">
    <ion-content>
        <form ng-submit="save()" novalidate>
            <br />
            <label class="item item-input">
                <span class="input-label">姓名</span>
                <input type="text" placeholder="姓名" ng-model="parent.username" required>
            </label>

            <label class="item item-input">
                <span class="input-label">手机</span>
                <input type="tel" placeholder="手机" ng-model="parent.phone">
            </label>

            <label class="item item-input item-select">
                <div class="input-label">
                    性别
                </div>
                <select ng-model="parent.gender">
                    <option value="0" selected>男</option>
                    <option value="1">女</option>
                </select>
            </label>

            <label class="item item-input">
                <span class="input-label">生日</span>
                <!--<input type="date" ng-show="{{supportDatePicker}}" placeholder="生日" ng-model="parent.birthday">-->
                <input type="text" placeholder="格式:1990-01-01" ng-model="current.birthdayStr">
            </label>

            <div class="padding">
                <button class="button button-block button-balanced" type="submit">保 存</button>
            </div>
        </form>
        <span class="help-data">&emsp;&emsp;您可添加多位副家长，当有报平安消息时，家庭内所有家长均可收到。<br/>
								&emsp;&emsp;姓名和手机号是必须填写的，副家长用他的手机号就可以登录。


		</span>
    </ion-content>
</ion-view>
