<ion-view view-title="家庭">
    <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-android-add" href="#/tab/setting/create-family"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item class="item-icon-right" href="#/tab/setting/family/{{family.fml_id}}" ng-repeat="family in familys">
                {{family.fml_name}}
                <span class="item-note" ng-if="currentFamilyId == family.fml_id">
                    &radic;
                </span>
                <i class="icon ion-ios-arrow-right"></i>
                <ion-option-button class="button-balanced" ng-click="switch(family)">
                    切换
                </ion-option-button>
            </ion-item>
        </ion-list>
        <span class="left-data">如果您没有建立家庭组，您可以建立家庭，并添加多位副家长，这样当有报平安消息时，所有家长都可以收到。<br/>

		                      您可以切换到您所属的其他家庭，查看和编辑那个家庭的信息。<br/>
                              在列表上按住对应的家庭，向左拖动，即可显示切换按钮。
		</span>
  


    </ion-content>
</ion-view>
