<ion-view view-title="说明">
    <ion-content >
        <form ng-submit="gocreatestudent()" novalidate>
        <div class="card">
            <div class="item item-text-wrap">
                <div align="center"><B>为了便于家长们理解，特此说明：</B></div>
                </br>
               <b> 银卡</b></br>
                为远距离感应方式工作，应用于中小学，学生随身携带或内置于书包中.家长购买小叮当银卡后，在添加学生时应选择此种类型，必须指定学生所在的学校,最后在“设置-卡”中填写银卡卡号。</br>
                </br>
                <b>蜗牛卡</b></br>
                应用于培训机构、托管、家里这些场合，如果是这种情况，在添加学生时仅需填入学生手机号、密码即可。然后用学生手机的“小蜗牛”app在培训机构扫描二维码，添加定位点（蜗牛卡）。</br>
                </br>
                <b>铜卡</b></br>
                采用近距离刷卡方式使用，由家长携带，适用于需要安检出入的场合，通常是幼儿园。园方会建立学生并绑定到铜卡，家长不能删除有铜卡绑定的学生，只能在停用铜卡后方能删除。
            </div>
        </div>
        <div class="padding">
            <button class="button button-block button-balanced" type="submit">确定</button>
        </div>
    </ion-content>
</ion-view>