<ion-view view-title="选择成员拍照">
    <ion-content>
        <ion-list>
            <div class="item item-divider">
                学生
            </div>
            <a class="item item-icon-right" href="#/tab/setting/photo/{{student.stu_id}}/0" ng-repeat="student in students">
                {{student.stu_name}}
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item item-divider">
                家长
            </div>
            <a class="item item-icon-right" href="#/tab/setting/photo/{{parent.user_id}}/1" ng-repeat="parent in parents">
                {{parent.username}}
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
