<ion-view view-title="发送短信">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                提示:
                </br>
                该手机将以普通短信向[ {{icloudphone}} ]发送您的注册信息.
                <br />
                <br />
                用户名:{{phone}}
                <br />
                密码:{{password}}
            </div>
        </div>
        <br />
        <button class="button button-block button-balanced" ng-click="sendmessage()" pull-right>发送</button>
    </ion-content>
</ion-view>