<ion-view view-title="选择学生类型">
	<ion-content>
        <form ng-submit="submit()" novalidate>
            <br />
           	<div class="list">       
				<label class="item item-radio">
    				<input type="radio"  ng-model="student.type" value="coppercard"/>
    				<div class="item-content">
      					铜卡学生
    				</div>
    				<i class="radio-icon ion-checkmark"></i>
  				</label>
            	<div class="radiolist-data"> 
         			采用近距离刷卡方式使用，由家长携带，适用于需要安检出入的场合，通常是幼儿园。园方会建立学生并绑定到铜卡，家长不能删除有铜卡绑定的学生，只能在停用铜卡后方能删除。
        		</div>
				<label class="item item-radio">
    				<input type="radio" ng-model="student.type" value="snailcard"/>
    				<div class="item-content">
      					蜗牛卡学生
    				</div>
    				<i class="radio-icon ion-checkmark"></i>
  				</label>

        		<div class="radiolist-data">
          			应用于培训机构、托管、家里这些场合，如果是这种情况，在添加学生时仅需填入学生手机号、密码即可。然后用学生手机的“小蜗牛”app在培训机构扫描二维码，添加定位点（蜗牛卡）。
       	 		</div>
           
            	<div class="padding">
                	<button class="button button-block button-balanced" type="submit">下一步</button>
           	 	</div>
        	</div>
        </form>
    </ion-content>
</ion-view>