<ion-view view-title="学生">
    <ion-nav-buttons side="right">
        <a class="button button-clear icon ion-android-add" style="display:{{isPrimary?'inline-block':'none'}}" href="#/tab/setting/select-createstudent"></a>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <div ng-repeat="student in students">
                <div class="list card">
                    <div class="item item-avatar">
                        <img ng-src="{{student.picture | avatar}}">
                        <h2>{{student.stu_name}}</h2>
                        <p>{{student.gender | gender}}</p>
                    </div>

                    <div class="item item-body">
                        <p>学校：{{student.sch_name}}</p>
                        <p>年级：{{student.grade_name}}</p>
                        <p>班级：{{student.class_name}}</p>
                        <p>手机：{{student.phone}}</p>
                        <p>学号：{{student.stu_sid}}</p>
                        <p>生日：{{student.birthday | date:'yyyy-MM-dd'}}</p>
                    </div>

                    <div class="item tabs tabs-secondary tabs-icon-left" style='display:{{isPrimary ? "flex":"none"}}'>
                        <a class="tab-item" ng-click="del(student)">
                            <i class="icon ion-trash-a"></i>
                            删除
                        </a>
                        <a class="tab-item" href="#/tab/setting/student/{{student.stu_id}}">
                            <i class="icon ion-edit"></i>
                            修改
                        </a>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
