<ion-view view-title="设置">
    <ion-content>
        <ion-list>
            <a class="item item-avatar item-icon-right" href="#/tab/setting/parent/{{userId}}">
                <img ng-src="{{picture|avatar}}">
                <h2>{{userName}}</h2>
                <p>{{isPrimary ? "主家长":"副家长"}}</p>
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item item-divider">
                家庭
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/family">
                <i class="icon ion-home"></i>
                家庭
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/parent">
                <i class="icon ion-android-people"></i>
                家长
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/student">
                <i class="icon ion-android-contacts"></i>
                学生
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/photo">
                <i class="icon ion-ios-camera"></i>
                拍照
                <i class="icon ion-ios-arrow-right"></i>
            </a>

            <div class="item item-divider">
                配置
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/card">
                <i class="icon ion-card"></i>
                卡
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <!--<a class="item item-icon-left item-icon-right" href="#/tab/setting/ringtone">
                <i class="icon ion-volume-medium"></i>
                铃声提醒
                <i class="icon ion-ios-arrow-right"></i>
            </a>-->
            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-ios-alarm"></i>
                放学时刻
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/bug">
                <i class="icon ion-bug"></i>
                问题反馈
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" href="#/tab/setting/about">
                <i class="icon ion-ios-information"></i>
                关于
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </ion-list>
        <br />

        <div class="padding">
            <button class="button button-block button-assertive" ng-click="signout()">
                注 销
            </button>
        </div>
    </ion-content>
</ion-view>
