<ion-view view-title="按平安">
    <ion-content class="padding">
        <ion-list>
            <ion-item ng-repeat="item in items">
                <div ng-class="item.display_type == 0 ? 'test1':'test2'">{{item.display_type == 0 ? item.att_time:item.att_time+" "+item.stu_name+"从"+item.sch_name+item.entex_name+item.type}}</div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<style type="text/css">
    .test1 {
        font-weight: 600;
    }

    .test2 {
    }
</style>