<ion-view view-title="按平安">
    <ion-content class="padding">
        <ion-refresher pulling-text="松开刷新..."
                       on-refresh="refresh(null)">
        </ion-refresher>
        <ion-list>
            <div ng-repeat="item in items | orderBy:'display_time'">
                <div class="dash-item dash-item-left">
                    <div style="display:{{item.display_type == 0 ? 'block':'none'}}">
                        <label class="title-label">{{item.display_time}}</label>
                        <span class="line">&nbsp;</span>
                    </div>
                    <div style="display:{{item.display_type == 1 ? 'block':'none'}}">&nbsp;</div>
                </div>
                <div class="dash-item dash-item-center">&nbsp;</div>
                <div class="dash-item dash-item-right">
                    <div style="display:{{item.display_type == 1 ? 'block':'none'}}">
                        <span class="line">&nbsp;</span>
                        <label class="title-label">{{item.display_time}}</label>
                        <span ng-class="item.type == 0 ? 'blue-span':'green-span'">{{item.stu_name + (item.type == 0 ? "进入":"离开") + item.sch_name }}</span>
                    </div>
                    <div style="display:{{item.display_type == 0 ? 'block':'none'}}">&nbsp;</div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>